In [1]:

#create an empty structure model.import warnings
import warnings
from causalnex.structure import StructureModel

warnings.filterwarnings("ignore")  # silence warnings

sm = StructureModel()

In [3]:
# import the dataset
import pandas as pd

In [4]:

data = pd.read_csv('/home/miki/Logistic-optimization/Notebook/merged_result.csv')
data.head(5)

,id,order_id,driver_id,driver_action,lat,lng,trip_origin,trip_destination,weekday,trip_start_date,holiday,rain,distance,speed
0,1,392001,243828,accepted,6.602207,3.270465,"6.6010417,3.2766339","6.4501069,3.3916154",1.0,2021-07-01,0.0,0.0,13.039051,216.316059
1,2,392001,243588,rejected,6.592097,3.287445,"6.6010417,3.2766339","6.4501069,3.3916154",1.0,2021-07-01,0.0,0.0,13.039051,216.316059
2,3,392001,243830,rejected,6.596133,3.281784,"6.6010417,3.2766339","6.4501069,3.3916154",1.0,2021-07-01,0.0,0.0,13.039051,216.316059
3,4,392001,243539,rejected,6.596142,3.280526,"6.6010417,3.2766339","6.4501069,3.3916154",1.0,2021-07-01,0.0,0.0,13.039051,216.316059
4,5,392001,171653,rejected,6.609232,3.288800,"6.6010417,3.2766339","6.4501069,3.3916154",1.0,2021-07-01,0.0,0.0,13.039051,216.316059

In [5]:
data["holiday"].value_counts()

0.0    1555718
Name: holiday, dtype: int64

In [6]:
# choose non-numeric columns
import numpy as np

struct_data = data.copy()
non_numeric_columns = list(struct_data.select_dtypes(exclude=[np.number]).columns)

print(non_numeric_columns)

['driver_action', 'trip_origin', 'trip_destination', 'trip_start_date']

In [7]:
data.head(5)

,id,order_id,driver_id,driver_action,lat,lng,trip_origin,trip_destination,weekday,trip_start_date,holiday,rain,distance,speed
0,1,392001,243828,accepted,6.602207,3.270465,"6.6010417,3.2766339","6.4501069,3.3916154",1.0,2021-07-01,0.0,0.0,13.039051,216.316059
1,2,392001,243588,rejected,6.592097,3.287445,"6.6010417,3.2766339","6.4501069,3.3916154",1.0,2021-07-01,0.0,0.0,13.039051,216.316059
2,3,392001,243830,rejected,6.596133,3.281784,"6.6010417,3.2766339","6.4501069,3.3916154",1.0,2021-07-01,0.0,0.0,13.039051,216.316059
3,4,392001,243539,rejected,6.596142,3.280526,"6.6010417,3.2766339","6.4501069,3.3916154",1.0,2021-07-01,0.0,0.0,13.039051,216.316059
4,5,392001,171653,rejected,6.609232,3.288800,"6.6010417,3.2766339","6.4501069,3.3916154",1.0,2021-07-01,0.0,0.0,13.039051,216.316059

In [8]:
drop_col = ['id','lat','lng','driver_id']
data = data.drop(columns=drop_col)
data.head(5)

,order_id,driver_action,trip_origin,trip_destination,weekday,trip_start_date,holiday,rain,distance,speed
0,392001,accepted,"6.6010417,3.2766339","6.4501069,3.3916154",1.0,2021-07-01,0.0,0.0,13.039051,216.316059
1,392001,rejected,"6.6010417,3.2766339","6.4501069,3.3916154",1.0,2021-07-01,0.0,0.0,13.039051,216.316059
2,392001,rejected,"6.6010417,3.2766339","6.4501069,3.3916154",1.0,2021-07-01,0.0,0.0,13.039051,216.316059
3,392001,rejected,"6.6010417,3.2766339","6.4501069,3.3916154",1.0,2021-07-01,0.0,0.0,13.039051,216.316059
4,392001,rejected,"6.6010417,3.2766339","6.4501069,3.3916154",1.0,2021-07-01,0.0,0.0,13.039051,216.316059

In [9]:
# Replace 'rejected' with 0 and 'accepted' with 1 in the 'driver_action' column
data['driver_action'] = data['driver_action'].replace({'rejected': 0, 'accepted': 1})

# Save the modified DataFrame to a new CSV file
#data.to_csv("mergeds.csv", index=False)

In [61]:
data.head(5)

,order_id,driver_action,trip_origin,trip_destination,weekday,trip_start_date,holiday,rain,distance,speed
0,392001,1,"6.6010417,3.2766339","6.4501069,3.3916154",1.0,2021-07-01,0.0,0.0,13.039051,216.316059
1,392001,0,"6.6010417,3.2766339","6.4501069,3.3916154",1.0,2021-07-01,0.0,0.0,13.039051,216.316059
2,392001,0,"6.6010417,3.2766339","6.4501069,3.3916154",1.0,2021-07-01,0.0,0.0,13.039051,216.316059
3,392001,0,"6.6010417,3.2766339","6.4501069,3.3916154",1.0,2021-07-01,0.0,0.0,13.039051,216.316059
4,392001,0,"6.6010417,3.2766339","6.4501069,3.3916154",1.0,2021-07-01,0.0,0.0,13.039051,216.316059

In [18]:
data = pd.read_csv('mergeds.csv')
data.head(5)

,id,driver_id,driver_action,lat,lng,weekday,holiday,rain,distance,speed
0,1,243828,1,6.602207,3.270465,1.0,0.0,0.0,13.039051,216.316059
1,2,243588,0,6.592097,3.287445,1.0,0.0,0.0,13.039051,216.316059
2,3,243830,0,6.596133,3.281784,1.0,0.0,0.0,13.039051,216.316059
3,4,243539,0,6.596142,3.280526,1.0,0.0,0.0,13.039051,216.316059
4,5,171653,0,6.609232,3.288800,1.0,0.0,0.0,13.039051,216.316059

In [62]:
 #  use label encoding non-numeric variables to make data numeric
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

for col in non_numeric_columns:
    struct_data[col] = le.fit_transform(struct_data[col])

struct_data.head(5)

,id,order_id,driver_id,driver_action,lat,lng,trip_origin,trip_destination,weekday,trip_start_date,holiday,rain,distance,speed
0,1,392001,243828,0,6.602207,3.270465,11676,3785,1.0,0,0.0,0.0,13.039051,216.316059
1,2,392001,243588,1,6.592097,3.287445,11676,3785,1.0,0,0.0,0.0,13.039051,216.316059
2,3,392001,243830,1,6.596133,3.281784,11676,3785,1.0,0,0.0,0.0,13.039051,216.316059
3,4,392001,243539,1,6.596142,3.280526,11676,3785,1.0,0,0.0,0.0,13.039051,216.316059
4,5,392001,171653,1,6.609232,3.288800,11676,3785,1.0,0,0.0,0.0,13.039051,216.316059

In [63]:
import pandas as pd
import numpy as np

# Impute NaN with column means
for col in struct_data.columns:
    if struct_data[col].isnull().any():
        mean_value = struct_data[col].mean()
        struct_data[col].fillna(mean_value, inplace=True)

In [69]:
drop_cols = ['id','driver_id','lat','lng']

In [71]:
# data=data.drop(columns=drop_cols)
data.head(5)

,order_id,driver_action,trip_origin,trip_destination,weekday,trip_start_date,holiday,rain,distance,speed
0,392001,1,"6.6010417,3.2766339","6.4501069,3.3916154",1.0,2021-07-01,0.0,0.0,13.039051,216.316059
1,392001,0,"6.6010417,3.2766339","6.4501069,3.3916154",1.0,2021-07-01,0.0,0.0,13.039051,216.316059
2,392001,0,"6.6010417,3.2766339","6.4501069,3.3916154",1.0,2021-07-01,0.0,0.0,13.039051,216.316059
3,392001,0,"6.6010417,3.2766339","6.4501069,3.3916154",1.0,2021-07-01,0.0,0.0,13.039051,216.316059
4,392001,0,"6.6010417,3.2766339","6.4501069,3.3916154",1.0,2021-07-01,0.0,0.0,13.039051,216.316059

In [72]:
drop_cols = ['order_id','trip_origin','trip_start_date','trip_destination']

In [82]:
data=data.drop(columns=drop_cols)
data.head(5)

KeyError: "['order_id', 'trip_origin', 'trip_start_date', 'trip_destination'] not found in axis"

In [83]:
data.head(5)

   driver_action  weekday  holiday  rain   distance       speed
0              1      1.0      0.0   0.0  13.039051  216.316059
1              0      1.0      0.0   0.0  13.039051  216.316059
2              0      1.0      0.0   0.0  13.039051  216.316059
3              0      1.0      0.0   0.0  13.039051  216.316059
4              0      1.0      0.0   0.0  13.039051  216.316059

In [85]:
m=data.isna().sum()
m

driver_action       0
weekday          2022
holiday          2022
rain             2022
distance         2022
speed            2022
dtype: int64

In [96]:
# Impute NaN with column means
for col in data.columns:
    if data[col].isnull().any():
        mean_value = data[col].mean()
        data[col].fillna(mean_value, inplace=True)

In [97]:
data.head(5)

   driver_action  weekday  holiday  rain   distance       speed
0              1      1.0      0.0   0.0  13.039051  216.316059
1              0      1.0      0.0   0.0  13.039051  216.316059
2              0      1.0      0.0   0.0  13.039051  216.316059
3              0      1.0      0.0   0.0  13.039051  216.316059
4              0      1.0      0.0   0.0  13.039051  216.316059

In [99]:
m=data.isna().sum()
m

driver_action    0
weekday          0
holiday          0
rain             0
distance         0
speed            0
dtype: int64

In [100]:
data.to_csv('for_normilization.csv', index=False)

In [89]:
data.dropna(inplace=True)

In [90]:
mb=data.isna().sum()
mb

driver_action    0
weekday          0
holiday          0
rain             0
distance         0
speed            0
dtype: int64

In [91]:
import numpy as np

struct_data = data.copy()

In [92]:

struct_data.head(5)

   driver_action  weekday  holiday  rain   distance       speed
0              1      1.0      0.0   0.0  13.039051  216.316059
1              0      1.0      0.0   0.0  13.039051  216.316059
2              0      1.0      0.0   0.0  13.039051  216.316059
3              0      1.0      0.0   0.0  13.039051  216.316059
4              0      1.0      0.0   0.0  13.039051  216.316059

In [93]:
# Impute NaN with column means
for col in struct_data.columns:
    if struct_data[col].isnull().any():
        mean_value = struct_data[col].mean()
        struct_data[col].fillna(mean_value, inplace=True)

In [94]:
struct_data.head(5)

   driver_action  weekday  holiday  rain   distance       speed
0              1      1.0      0.0   0.0  13.039051  216.316059
1              0      1.0      0.0   0.0  13.039051  216.316059
2              0      1.0      0.0   0.0  13.039051  216.316059
3              0      1.0      0.0   0.0  13.039051  216.316059
4              0      1.0      0.0   0.0  13.039051  216.316059

In [95]:
#apply the NOTEARS algorithm to learn the structure.

from causalnex.structure.notears import from_pandas
sm = from_pandas(struct_data)

KeyboardInterrupt: