In [5]:
import pandas as pd

In [8]:
path="../datasets/nb.csv"
df= pd.read_csv(path)
df.head(5)

,Trip ID,Trip Origin,Trip Destination,Trip Start Time,Trip End Time
0,391996,"6.508813001668548,3.37740316890347","6.650969799999999,3.3450307",2021-07-01 07:28:04,2021-07-01 07:29:37
1,391997,"6.4316714,3.4555375","6.4280814653326,3.4721885847586",2021-07-01 06:38:04,2021-07-01 07:07:28
2,391998,"6.631679399999999,3.3388976","6.508324099999999,3.3590397",2021-07-01 06:21:02,2021-07-01 07:02:23
3,391999,"6.572757200000001,3.3677082","6.584881099999999,3.3614073",2021-07-01 07:16:07,2021-07-01 07:29:42
4,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36

In [9]:
null_percentage = df.isnull().mean() * 100
null_percentage

Trip ID             0.000000
Trip Origin         0.000000
Trip Destination    0.000000
Trip Start Time     0.308011
Trip End Time       0.000187
dtype: float64

In [10]:
missingCount = df.isnull().sum()
missingCount

Trip ID                0
Trip Origin            0
Trip Destination       0
Trip Start Time     1651
Trip End Time          1
dtype: int64

In [11]:
df.duplicated().sum()

0

In [12]:
df.dropna(subset=['Trip Start Time'], inplace=True)
df.dropna(subset=['Trip End Time'], inplace=True)

In [13]:
missingCount = df.isnull().sum()
missingCount

Trip ID             0
Trip Origin         0
Trip Destination    0
Trip Start Time     0
Trip End Time       0
dtype: int64

In [16]:
df.shape

(534368, 5)

In [14]:
cleaned_df = df.dropna()

In [15]:
cleaned_df.to_csv('new_cleaned_data.csv', index=False)

In [20]:
path="Dataset/cleaned_data.csv"
df= pd.read_csv(path)
df.head(5)

,Trip ID,Trip Origin,Trip Destination,Trip Start Time,Trip End Time
0,391996,"6.508813001668548,3.37740316890347","6.650969799999999,3.3450307",2021-07-01 07:28:04,2021-07-01 07:29:37
1,391997,"6.4316714,3.4555375","6.4280814653326,3.4721885847586",2021-07-01 06:38:04,2021-07-01 07:07:28
2,391998,"6.631679399999999,3.3388976","6.508324099999999,3.3590397",2021-07-01 06:21:02,2021-07-01 07:02:23
3,391999,"6.572757200000001,3.3677082","6.584881099999999,3.3614073",2021-07-01 07:16:07,2021-07-01 07:29:42
4,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36